.border  {
    border:  2px solid red;
    margin: 3px;
}


.flex {
    display: flex;
}
.justify-center  {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px
}

.m-1 {
    margin: 5px;
}


/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #2C3E50; /* Change the color to your desired dark color */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #34495E; /* Change the color on hover */
}

::-webkit-scrollbar-track {
    background-color: #19232D; /* Change the background color of the track */
}

/* Firefox Scrollbar */
html {
    scrollbar-color: #2C3E50 #19232D;
}

html:hover {
    scrollbar-color: #34495E #19232D; /* Change the color on hover */
}

/* You can adjust the colors and other properties as needed. */


.p-1 {
    padding: 10px;
}







